@import '../../../public/styles/variables.scss';

/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile {
    & {
        padding: 2rem 0;
    }

    .profile__image {
        position: relative;
        padding: 1rem 0;
        text-align: center;
        ;
        margin: 0 auto;

        .changeImage {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }

        .profile__image-hover {
            & {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: auto;
                transform: translateY(-50%);
                opacity: 0;
                visibility: hidden;
                transition: opacity .4s;
            }

            .material-icons {
                font-size: 40px;
                color: $white;
            }
        }

        img {
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
        }
    }

    .profile__image:hover {
        .profile__imageHover {
            opacity: 1;
            visibility: visible;
        }
    }

    .profile__aside {
        background-color: $white;
    }

    .profile__content {
        background-color: $white;

        .card-body {
            display: block;
        }
    }
}

/* ------------------------------------------------------------ *\
	Profile Tabs
\* ------------------------------------------------------------ */

.tab-pane-ads {
    justify-content: flex-start;

    .post {
        flex: 0 1 33.33%;
    }
}

.tab-pane-edit {
    justify-content: flex-start;
}

@media(max-width: 1000px) {
    .tab-pane-ads {
        .post {
            max-width: 50%;
            flex: 0 1 50%;
            margin: 0;
        }
    }
}

@media #{$mobile} {
    .tab-pane-ads {
        & {
            justify-content: center !important;
        }

        .post {
            flex: 0 1 100%;
            max-width: 100%;
        }
    }
}